<div id="<%= dom_id vote %>">
  <p>
    <strong>Upvote:</strong>
    <%= vote.upvote %>
  </p>

  <p>
    <strong>Downvote:</strong>
    <%= vote.downvote %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vote.user_id %>
  </p>

  <p>
    <strong>Votable:</strong>
    <%= vote.votable_id %>
  </p>

</div>
